@model Player.ViewModel.MetaDataViewModel

@{
    ViewData["Title"] = "MetaData";
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Metadata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server" asp-action="Save" method="post">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
                </div>
                <ul class="nav navbar-nav">
                    
                </ul>
            </div>
        </nav>
        <div class="container">
            <input type="hidden" value="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).id : 0)" asp-for="metaDataModels.FirstOrDefault().id" />
            <div class="form-group">
                <label for="txtChannelName">Channel Name:</label>
                <input runat="server" id="txtChannelName" placeholder="Channel Name" class="form-control" value="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).channelName : string.Empty)" asp-for="metaDataModels.FirstOrDefault().channelName" />
            </div>

            <div class="form-group">
                <label for="txtDashUrl">Dash URL:</label>
                <input runat="server" ID="txtDashUrl" placeholder="Dash URL" class="form-control" value="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).dashSrc : string.Empty)" asp-for="metaDataModels.FirstOrDefault().dashSrc" />
            </div>

            <div class="form-group">
                <label for="txtHlsURL">HLS URL:</label>
                <input runat="server" ID="txtHlsURL" placeholder="HLS URL" class="form-control" value="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).hlsSrc : string.Empty)" asp-for="metaDataModels.FirstOrDefault().hlsSrc" />
            </div>

            <div class="form-group">
                <label for="txtLogoURL">Logo URL:</label>
                <input runat="server" ID="txtLogoURL" placeholder="Logo URL" class="form-control" value="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).logoSrc : string.Empty)" asp-for="metaDataModels.FirstOrDefault().logoSrc" />
            </div>

            <div class="form-check">                
                <input type="checkbox" id="isActive" checked="@((bool)ViewData["EditMode"] ? ((MetaDataModel)ViewData["Model"]).isActive : false)" asp-for="metaDataModels.FirstOrDefault().isActive" />
                <label for="isActive">Show</label><br>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="btnSave" onclick="return checkValidation();" value="@((bool)ViewData["EditMode"] ? "Update" : "Add")">
                <input type="submit" class="btn btn-default" ID="btnCancel" value="Cancel"/>
            </div>

            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <tr>
                    <th>Channel Name</th>
                    <th>Dash URL</th>
                    <th>Hls URL</th>
                    <th>Logo URL</th>

                </tr>
                @foreach (MetaDataModel metaDataModel in Model.metaDataModels)
                {
                    <tr>
                        <td>@metaDataModel.channelName</td>
                        <td>@metaDataModel.dashSrc</td>
                        <td>@metaDataModel.hlsSrc</td>
                        <td>@metaDataModel.logoSrc</td>
                        <td><a href="@Url.Action("Index", new { id = metaDataModel.id })">Edit</a></td>
                    </tr>
                }
            </table>
        </div>

        <script type="text/javascript">
            function checkValidation() {
                var channelName = document.getElementById("txtChannelName").value;
                var dashURL = document.getElementById("txtDashUrl").value;
                var hlsURL = document.getElementById("txtHlsURL").value;
                var logoURL = document.getElementById("txtLogoURL").value;

                if (channelName.length <= 0) {
                    alert('Please enter Channel Name');
                    return false;
                }
                else if (dashURL.length <= 0) {
                    alert('Please enter Dash URL');
                    return false;
                }
                else if (hlsURL.length <= 0) {
                    alert('Please enter HLS URL');
                    return false;
                }
                else if (logoURL.length <= 0) {
                    alert('Please enter Logo URL');
                    return false;
                }
                return true;
            }
        </script>

        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries

            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
                apiKey: "AIzaSyDGCdKDitTJCE2US2WDekjaD_okM1rb6z8",
                authDomain: "epl-plan-c.firebaseapp.com",
                projectId: "epl-plan-c",
                storageBucket: "epl-plan-c.appspot.com",
                messagingSenderId: "117377094050",
                appId: "1:117377094050:web:7ec8d75a0772b9bd0ca2fb",
                measurementId: "G-R8CHEDGPEB"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
        </script>
    </form>
</body>
</html>